*/*{
    background-color: coral;
}

h2{
    color:deeppink;
    text-align: center;
}

p{
    text-align: center;
    padding: 20px;
    width: 80%;
    margin: 30px 4px;
    font-size: 20px;
}*/


/*Selector de etiqueta*/



/*h1{
    color:#92dd1a;
    text-align: justify;
    margin: 20px;

}
h2{
    text-align: center;
    color: red;

}
p{
    background: #F7C759;
    color: #1911ed;
    text-align: justify;
}
a{
    background: #29e621;
    color:darkred;
    text-align-last: justify;
}
a:hover{
    background: yellow;
}*/


/* SELECTOR DESCENDIENTE*/
/*h1{

    text-align: center;
    color: forestgreen;
}
h3{
    color: darkgoldenrod;
    text-align: justify;

}
h3 span {
    color: red;
    text-align: center;
}

h5 span{

    color: darkturquoise;
    text-align: justify;

}*/


/* SELECTOR DE CLASE*/
/*.cabeceraweb{
    background-color: #c49411;
    color: #F3F3F3;
    height: 60px;
    padding-top: 15px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 30px;

}*/

/* SELECTOR DE ID*/

/*#barralateral{
    background: #1ee24b;
    color:darkkhaki;
    float: left;
    width: 120px;

}*/


/* SELECTOR DESCENDENTE COMBINADO*/

/*{
    background-color: cornsilk;

}
h1{
    background: green;
    text-align: center;
    color: darkblue;
}
h2{
    background: yellow;
    text-align: left;
}
.Primero div #dos span{
    color:#cb8311;

}*/

/* SELECTOR DE HIJOS(>)*/

/*{background-color: #1d6d5b;}

h1{background: #714;text-align: center;color: darkviolet;}
h2{background: #bdd315;text-align: justify;}
p >span{background: #4ead85;border-color: darkgoldenrod;color:crimson}*/


/* SELECTOR HERMANO ADYACENTE*/

/*h1{background: #714;text-align: center;color: darkviolet;}
p+a{background:#1a0d79;color: chocolate;}
h2+h3{background:#855; color: darkgoldenrod;text-align: center}*/

/* SELECTOR HERMANO GENERAL*/

/*{background:#c3a88d }
h1{background: #60a258;text-align: center;color: darkviolet;}
p~a{ background: #6292d1;text-align: center;}
h2~h3{background: #715881;text-align: center;}*/

/* Selector de Atributo Basico*/
/*{background:#cfdef0 }
h1{background: #e5e6ba;text-align: center;color: darkviolet;}
a[href]{
  color: red;
text-decoration: none;
}
h3[href]{
    color: darkmagenta;
    text-align: center;
}*/

/* SELECTOR DE ATRIBUTO CON VALOR EXACTO*/

{background:#cfdef0 }
h1{background: #e5e6ba;text-align: center;color: red;} h2{color:darkorange}
span[rel="span"]{
    color: #10c12b; text-align: center;background: #486;}
h6[rel="creacion"]{
    color: brown; text-align: center;}
h5[rel="termino"]{
    background-color: darkgoldenrod;
    border-color: deeppink;
}
